Input, Loop, Condition

In [4]:
x=int(input('x:'))
if x>0:
  print("x is positive")
else:
  print("x is negative")

x:-5
x is negative

In [14]:
seq=range(1,15,2)
print(*seq)
seq[1]

1 3 5 7 9 11 13

3

In [15]:
list(range(7))

[0, 1, 2, 3, 4, 5, 6]

In [17]:
r=1
for i in range(1,5):
   r = r*i
print(r)

24

Lists [w3schools](https://www.w3schools.com/python/python_lists.asp)

In [27]:
vertices=['Prague', 'Brno','Olomouc','Liberec']
len(vertices)

4

In [28]:
vertices[0] #access items

'Prague'

In [29]:
vertices.insert(1,'Kutná Hora')
vertices.append(666)
print(vertices)

['Prague', 'Kutná Hora', 'Brno', 'Olomouc', 'Liberec', 666]

In [37]:
smiley=[print(br, end=':-) ') for br in vertices]  # a short hand for loop
type(smiley)

Prague:-) Kutná Hora:-) Brno:-) Olomouc:-) Liberec:-) 666:-)

list

Tuple, [dictionary](https://colab.research.google.com/drive/18sucf4DPnvzu4txzm9nFy2_ruv4mxyZh#scrollTo=Vm1ZYWRmR-bC&line=1&uniqifier=1)

**List** is a collection which is ordered and changeable. Allows duplicate members.

**Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.

**Set** is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.

**Dictionary** is a collection which is ordered and changeable. No duplicate members.

In [38]:
nodeAtr = dict(color='green',weight = 36, visible = False) # dict constructor
print(nodeAtr)

{'color': 'green', 'weight': 36, 'visible': False}

In [40]:
print(nodeAtr['color'])

green

In [42]:
tuple1 = ("abc", 34, True, 40, "Olomouc")
type(tuple1)

tuple